/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  color: #444;
  font: 18px Optima, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 291.515%;
}

h2, header .title {
  font-size: 123.077%;
}

h3 {
  font-size: 100%;
}

p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #93A1A1; }

table {
  font-size: inherit;
  font: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

#splash {
  background: url(/images/splash-full.jpg) no-repeat;
  background-size: 100%;
}

header {
  border-bottom: 1px dotted #efefef;
	-webkit-box-shadow: 0 12px 6px -4px rgba(43, 43, 41, 0.7);
	   -moz-box-shadow: 0 12px 6px -4px rgba(43, 43, 41, 0.7);
	        box-shadow: 0 12px 6px -4px rgba(43, 43, 41, 0.7);
}

header h1, header h2, header .title {
  font-family: 'Trebuchet MS';
}

header h1, header .title {
  text-transform: uppercase;
}

header h2 {
  margin-bottom: 1em;
}

header h2, header h3 {
  font-weight: normal;
}

header a, header a:visited {
  color: #fff;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

nav, .headline {
  color: #fff;
}

.headline {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1em;
}

.headline .statement {
  float: left;
  height: 100%;
}

.headline .statement + .statement {
  margin-left: 6em;
}

.headline .statement:nth-child(1) {
  width: 20%;
}

.headline .statement:nth-child(2) {
  width: 40%;
}

nav {
  background-color: rgb(43, 43, 41);
  padding: 0 1em;
  width: 100%;
}

nav ul {
  list-style: none;
  overflow: hidden;
}

nav li a {
  display: block;
  float: left;
  font: 100% 'Trebuchet MS';
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  width: 38%;
}

nav li a:hover {
  background: #222;
  color: #fff;
  -webkit-transition: background 0.5s ease;
     -moz-transition: background 0.5s ease;
       -o-transition: background 0.5s ease;
      -ms-transition: background 0.5s ease;
          transition: background 0.5s ease;
}

nav li a:visited {
  color: #fff;
}

nav li a.selected {
  text-decoration: underline;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  width: 36em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 69.269%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .contact img {
  vertical-align: sub;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
  margin-bottom: 3em;
}

/* standard */
#post blockquote {
  border-left: 6px solid #ddd;
  padding: 0 1em;
  line-height: 1.5em;
  font-style: italic;
}

#post ul, #post ol {
  margin-left: 1.35em;
}
