/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  color: #444;
  font: 18px Optima, Segoe, "Segoe UI", sans-serif;
  line-height: 1.555em;
}

a img {
  border: 0;
}

h1, h2, h3, h4 {
  line-height: 1.555em;
}

h1 {
  font-size: 47px;
}

h2, header .title {
  font-size: 29px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 100%;
}

p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #93A1A1; }

table {
  font-size: inherit;
  font: 100%;
}

hr {
  margin-bottom: 1em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

#splash {
  background-repeat: no-repeat;
  background-size: 100%;
}

.tooltips {
  position: relative;
}

header {
  border-bottom: 1px dotted #efefef;
	-webkit-box-shadow: 0 12px 18px -4px rgba(43, 43, 41, 0.7);
	   -moz-box-shadow: 0 12px 18px -4px rgba(43, 43, 41, 0.7);
	        box-shadow: 0 12px 18px -4px rgba(43, 43, 41, 0.7);
}

header h1, header h2, header .title {
  font-family: 'Trebuchet MS', sans-serif;
}

header h1, header .title {
  text-transform: uppercase;
}

header h1 {
  margin-bottom: 0.25em;
}

header h2, header h3 {
  font-weight: normal;
  margin-bottom: 1em;
}

header a, header a:visited {
  color: #fff;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

nav, .headline {
  color: #fff;
}

.headline {
  padding: 1em;
}

@media screen and (max-width: 38em) {
  .headline {
    background-color: rgba(0, 0, 0, 0.85);
    position: static !important;
  }
}

@media screen and (min-width: 38em) {
  .headline {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@media screen and (max-width: 60em) {
  .headline .scroll-instruction {
    display: none;
  }
}

@media screen and (min-width: 60em) {
  .headline .statement {
    float: left;
  }

  .headline .statement + .statement {
    margin-left: 6em;
  }

  .headline .statement:nth-child(1) {
    width: 20%;
  }

  .headline .statement:nth-child(2) {
    width: 40%;
  }

  .headline .scroll-instruction {
    padding: 60% 0 0;
    opacity: 0;
            transition: opacity 0.3s ease-in-out;
         -o-transition: opacity 0.3s ease-in-out;
       -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
  }

  .headline .show-instruction {
    opacity: 1;
  }
}

nav {
  background-color: #333;
  padding: 0 1em;
  width: 100%;
  height: 2.5em;
}

nav .logo {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 3px solid #fff;
  border-radius: 50%;
	-webkit-box-shadow: 0 12px 18px 0 rgba(43, 43, 41, 0.7);
	   -moz-box-shadow: 0 12px 18px 0 rgba(43, 43, 41, 0.7);
	        box-shadow: 0 12px 18px 0 rgba(43, 43, 41, 0.7);
  top: -20px;
  position: absolute;
}

nav ul {
  list-style: none;
  overflow: hidden;
}

nav li a {
  display: block;
  font: 100% 'Trebuchet MS';
  padding: 5px;
  text-decoration: none;
}

nav li a:hover {
  color: #fff;
}

nav li a:visited {
  color: #fff;
}

nav li a.selected {
  text-decoration: underline;
}

h1.statement, .statement h2, .statement h3 {
  line-height: 1.2em;
}

#back-home .statement + .statement {
  margin-left: 1em;
}

@media screen and (max-width: 38em) {
  #back-home .statement.subtitle {
    display: none;
  }
}

#back-home a:hover {
  text-decoration: none;
}

#back-home a:hover .title {
  text-decoration: underline;
}

.about {
  font-style: italic;
  text-decoration: underline;
}

.about:hover {
  color: #7e7e7e;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
  display: table;
}

.post {
  line-height: 1.75em;
  display: table-row;
}

.post .date {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
  display: table-cell;
  min-width: 9em;
}

.post .date:after {
  content: "»";
  padding: 0 0.5em;
}

.post .title {
  display: table-cell;
}

.post-spacer {
  height: 1em;
}

.post-spacer:last-of-type {
  height: 0em;
}

.center {
  width: 36em;
  margin: 0 auto;
}

.content {
  max-width: 36em;
}

.content .meta {
  color: #aaa;
}

@media screen and (max-width: 38em) {
  .content {
    margin: 3em 1em 2em;
    font-size: 85%;
  }
}

@media screen and (min-width: 38em) and (max-width: 50em) {
  .content {
    font-size: 90%;
  }
}

@media screen and (min-width: 38em) {
  .content {
    margin: 3em auto 2em;
  }
}

aside, figure {
  margin: 1em auto;
  padding: 0 1em;
}

aside, figure img {
  border: 4px solid #eee;
}

figure {
  text-align: center;
}

figcaption {
  line-height: 1.5em;
  margin-top: 1em;
}

aside, footer {
  background: url('/images/cream_pixels_@2X.png');
  color: #666;
}

figcaption, footer {
  font-size: 69.269%;
}

footer {
  border-top: 4px solid #eee;
  margin: 3em auto 2em;
  padding: 0 2em;
  overflow: hidden;
  line-height: 2em;
}

footer .contact {
  float: left;
  margin: 1em 3em 1em 0;
}

footer .contact .lines {
  list-style: none;
}

footer .contact .line + .line {
  margin-top: 0.25em;
}

footer .contact a {
  color: #8085C1;
}

footer .contact img {
  vertical-align: sub;
}

footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
  margin-bottom: 3em;
}

/* standard */
#post blockquote {
  border-left: 6px solid #ddd;
  padding: 0 1em;
  font-style: italic;
}

.content ul, .content ol {
  margin: 1em 1.35em;
}
