---
import Layout from '../../components/layouts/base.astro'
import { slugify } from './slugify'

import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'

const frontmatter = {
  title: 'Articles',
}

const posts = await getCollection('posts')
posts.sort((a, b) => b.id.localeCompare(a.id))
---

<Layout frontmatter={frontmatter}>
  <section class=''>
    <h2 class='heading text-3xl'>Articles</h2>

    <ul class='mx-2 mt-2'>
      {
        posts.map((post) => (
          <li class='mt-10'>
            <a class='link inline-block' href={`/posts/${slugify(post)}/`}>
              {post.data.title}
            </a>

            <blockquote class='mt-2 px-4 text-sm text-gray-500 italic'>
              {post.data.description}
            </blockquote>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
