#splash {
  background-repeat: no-repeat;
  background-size: 100%;
}

.tooltips {
  position: relative;
}

header {
  border-bottom: 1px dotted #efefef;
	-webkit-box-shadow: 0 12px 18px -4px rgba(43, 43, 41, 0.7);
	   -moz-box-shadow: 0 12px 18px -4px rgba(43, 43, 41, 0.7);
	        box-shadow: 0 12px 18px -4px rgba(43, 43, 41, 0.7);

  h1, h2, .title {
    font-family: 'Trebuchet MS', sans-serif;
  }

  h1, .title {
    text-transform: uppercase;
  }

  h1 {
    margin-bottom: 0.25em;
  }

  h2, h3 {
    font-weight: normal;
    margin-bottom: 1em;
  }

  a, a:visited {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

nav, .headline {
  color: #fff;
}

.headline {
  padding: 1em;
}

@media screen and (max-width: 38em) {
  .headline {
    background-color: rgba(0, 0, 0, 0.85);
    position: static !important;
  }
}

@media screen and (min-width: 38em) {
  .headline {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@media screen and (max-width: 60em) {
  .headline .scroll-instruction {
    display: none;
  }
}

@media screen and (min-width: 60em) {
  .headline {
    .statement {
      float: left;

      & + .statement {
        margin-left: 6em;
      }

      &:nth-child(1) {
        width: 20%;
      }

      &:nth-child(2) {
        width: 40%;
      }
    }

    .scroll-instruction {
      padding: 60% 0 0;
      opacity: 0;
              transition: opacity 0.3s ease-in-out;
           -o-transition: opacity 0.3s ease-in-out;
         -moz-transition: opacity 0.3s ease-in-out;
      -webkit-transition: opacity 0.3s ease-in-out;
    }

    .show-instruction {
      opacity: 1;
    }
  }
}

nav {
  background-color: #333;
  padding: 0 1em;
  width: 100%;
  height: 2.5em;
  position: relative;

  .logo {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 3px solid #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 12px 18px 0 rgba(43, 43, 41, 0.7);
       -moz-box-shadow: 0 12px 18px 0 rgba(43, 43, 41, 0.7);
            box-shadow: 0 12px 18px 0 rgba(43, 43, 41, 0.7);
    top: -20px;
    position: absolute;
  }

  ul {
    display: inline-block;
    list-style: none;
    overflow: hidden;
  }

  li a {
    font: 100% 'Trebuchet MS';
    padding: 5px 0;
    text-decoration: none;

    &:hover {
      color: #fff;
    }

    &:visited {
      color: #fff;
    }

    &.selected {
      text-decoration: underline;
    }
  }

  .tools {
    float: right;
    padding: 8px 0;

    .tool {
      a:hover {
        text-decoration: none;
      }

      i {
        color: #7e7e7e;
      }

      &:hover i {
        color: #fff;
      }
    }

    .tool-title {
      font-size: 0;
    }
  }
}

@media screen and (max-width: 38em) {
  nav {
    padding: 0 0.5em;
  }
}

h1.statement, .statement h2, .statement h3 {
  line-height: 1.2em;
}

#back-home {
  .statement + .statement {
    margin-left: 1em;
  }

  a {
    display: block;

    &:hover {
      text-decoration: none;

      .title {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 38em) {
  #back-home {
    .statement.subtitle {
      display: none;
    }

    .statement + .statement {
      margin-left: 0.5em;
    }
  }
}

.about {
  font-style: italic;
  text-decoration: underline;

  &:hover {
    color: #7e7e7e;
  }
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.post {
  line-height: 1.75em;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 1em;

  .date {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
    min-width: 9em;

    &:after {
      content: "»";
      padding: 0 0.5em;
    }
  }
}

.center {
  width: 36em;
  margin: 0 auto;
}

.container {
  overflow-x: hidden;
}

.content {
  max-width: 36em;

  .meta {
    color: #aaa;
  }
}

@media screen and (max-width: 38em) {
  .content {
    margin: 3em 1em 2em;
    font-size: 85%;
  }
}

@media screen and (min-width: 38em) and (max-width: 50em) {
  .content {
    font-size: 90%;
  }
}

@media screen and (min-width: 38em) {
  .content {
    margin: 3em auto 2em;
  }
}

aside, figure {
  margin: 1em auto;
  padding: 0 1em;
}

aside, figure img {
  border: 4px solid #eee;
  vertical-align: middle;
}

figure {
  text-align: center;
}

.figure-items {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.figure-item {
  -webkit-flex: 1 0;
  -moz-flex: 1 0;
  -ms-flex: 1 0;
  flex: 1 0;

  & + .figure-item {
    margin-left: 1em;
  }

  img {
    width: 100%;
  }
}

figcaption {
  line-height: 1.5em;
  margin-top: 1em;
}

aside, footer {
  background: url('/images/cream_pixels_@2X.png');
  color: #666;
}

figcaption, footer {
  font-size: 69.269%;
}

footer {
  border-top: 4px solid #eee;
  margin: 3em auto 0;
  padding: 0 2em;
  overflow: hidden;
  line-height: 2em;

  .contact {
    float: left;
    margin: 1em 3em 1em 0;

    .lines {
      list-style: none;
    }

    .line + .line {
      margin-top: 0.25em;
    }

    a {
      color: #8085C1;
    }

    img {
      vertical-align: sub;
    }
  }

  .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;

    img {
      border: 0;
    }
  }
}
