$color-blockquote-border: #ddd;

article {
  .post {
    margin-bottom: 3em;

    blockquote {
      border-left: 6px solid $color-blockquote-border;
      font-style: italic;
      padding: 0 1em;
    }
  }
}

.content {
  ol,
  ul {
    margin: 1em 1.35em;
  }

  ol {
    list-style-position: inside;
  }
}

.footnotes {
  ol {
    list-style-position: outside;
  }
}
