* {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  color: #444;
  font: 18px Optima, Segoe, "Segoe UI", sans-serif;
  line-height: 1.555em;
}

a img {
  border: 0;
}

h1, h2, h3, h4 {
  line-height: 1.555em;
}

h1 {
  font-size: 47px;
}

h2, header .title {
  font-size: 29px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 100%;
}

p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #93A1A1; }

table {
  font-size: inherit;
  font: 100%;
}

hr {
  margin-bottom: 1em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}
