---
import Layout from '../components/layouts/base.astro'
---

<Layout>
  <section>
    <h2 class='heading my-16 text-3xl'>Senior Full Stack Web Developer</h2>

    <p class='mt-8 text-xl'>
      I’m a full stack web developer, frontend-leaning. I’m obsessed with UX,
      DX, and raising team capability. With 14+ years in the game, I specialize
      in the following.
    </p>

    <ol class='mt-8 text-xl'>
      <li class='flex'>
        <span aria-label='Ship' role='img'> 🚢 </span>
        <span class='ml-4'>
          <em>Ship</em> incrementally, with test coverage confidence, without rewrites.
        </span>
      </li>
      <li class='mt-2 flex'>
        <span aria-label='Wrench' role='img'> 🔧 </span>
        <span class='ml-4'>
          <em>Debug</em> any app (or process), existing or legacy.
        </span>
      </li>
      <li class='mt-2 flex'>
        <span aria-label='Test tube' role='img'> 🤝 </span>
        <span class='ml-4'>
          <em>Collaborate</em> on distributed teams via docs, code review, and mentorship.
        </span>
      </li>
    </ol>

    <div class='mt-8'>
      <p>
        Evolve your frontend to ship incrementally. You don’t need to rewrite
        from scratch. Reduce risk for you and customers. Your team will love the
        momentum from showing, not telling.
      </p>

      <p>
        Just want a tune up? I debug any existing, legacy, or unfinished system.
        I tend to work in TypeScript and Python, and I love learning new tech.
      </p>
    </div>

    <ul class='my-16 flex justify-center'>
      <li class=''>
        <a class='btn' href='/about/'> More about me </a>
      </li>
    </ul>
  </section>
</Layout>
